<h3>グループメンバー追加</h3>

<div class="row">
  <% @users.each do |user| %>
    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
    <%= user.nick_name %>
  <% end %>
</div>
