<div class="comments_left">
<!-- keep投稿内容　-->
  <div class="comments drop_area" id="keep">
    <span>Keep</span>
      <% keep_comments.each do |comment| %>
        <%= render 'kpt_comment', comment: comment %>
      <% end %>
  </div>
  <!-- problem投稿内容　-->
  <div class="comments p_comments drop_area" id="problem">
    <span>Problem</span>
    <% problem_comments.each do |comment| %>
      <%= render 'kpt_comment', comment: comment %>
    <% end %>
  </div>
</div>

<!-- try投稿内容　-->
<div class="comments_right comments drop_area" id="try">
  <span>Try</span>
  <% try_comments.each do |comment| %>
    <%= render 'kpt_comment', comment: comment %>
  <% end %>
</div>
