<!-- グループ詳細ページ -->
<div class="row">
<!-- グループのプロフィール -->
  <%= render 'group_profile', group: @group, group_users: @group_users %>
<!-- 見出し -->
  <div class="col s12 m9">
    <div class="card-panel teal lighten-4 z-depth-0">
      <span class="white-text">
        <h6><%= @group.name %>(<%= @join_users.count %>)</h6>
      </span>
    </div>
  </div>
<!-- グループのユーザー一覧 -->
  <div class="col s12 m9">
    <%= render 'shared/user_lists', users: @join_users.map(&:user) %>
  </div>
</div>
