<!-- グループ詳細ページ -->
<div class="row">
<!-- グループのプロフィール -->
  <%= render 'group_profile', group: @group, group_users: @group_users %>
<!-- メンバー一覧 -->
  <div class="col s12 m9">
    <div class="card-panel teal lighten-4 z-depth-0">
      <span class="white-text">
        <h6>参加メンバー</h6>
      </span>
    </div>
  </div>
<!-- グループのユーザー一覧 -->
  <%= render 'user_list', user: @group_users.map(&:user) %>
</div>
