
<table class="table">
		<tr>
      <%= attachment_image_tag user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg", size:'200x200' %>
    </tr>
		<tr>
			<th>ユーザー名</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td><%= user.nick_name %></td>
    </tr>
    <tr>
      <th>ステータスメッセージ</th>
      <td><%= user.introduction %></td>
    </tr>

</table>
