
<%= render 'shared/flash_message' %> <!-- サクセスメッセージ -->

<h6>マイページ</h6>
<div class="row">
  <%= render 'profile', user: @user %><!-- プロフィール -->
  <%= render 'shared/groups', is_notification: @is_notification, invited_groups: @invited_groups, join_groups: @join_groups %>
</div>
