
<h1>マイページ</h1>
  <div class="row">
    <div class="col m5">
      <!-- ユーザープロフィール -->
      <%= render 'profile', user: @user %>
    </div>
  </div>
<!-- ここからはcurrent_userのみ -->
  <div class="row">
    <div class="col m6">
      <p>参加グループ一覧</p>
    </div>
    <div class="col m6">
      <p>フレンド？一覧</p>
    </div>
  </div>
<!-- ここまで -->

  <p>サイト退会リンク</p>
