<!-- マイページ -->
<% if @user == current_user %>
  <% @page_title = "マイページ" %>
<% else %>
  <% @page_title = "#{@user.nick_name}" %>
<% end %>
<div class="row">
  <!-- ユーザープロフィール -->
  <div class="col s3 l3 position-stiky">
    <%= render 'profile', user: @user %>
  </div>
  <!-- グループ一覧 -->
  <div class="col s12 m9">
    <div id="group_lists">
      <%= render 'group_lists',
        user: @user,
        is_notification: @is_notification,
        invited_groups: @invited_groups,
        joined_groups: @joined_groups
      %>
    </div>
  </div>
</div>
