<!-- ログアウト中ヘッダー -->
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li>
    <%= link_to root_path, :class => "nav-link" do %>
    <i style="font-style: normal;">トップページ</i>
    <% end %>
  </li>
  <li>
    <%= link_to new_user_session_path, :class => "nav-link" do %>
      <i style="font-style: normal;">ログイン</i>
    <% end %>
  </li>
  <li>
    <%= link_to new_user_registration_path, :class => "nav-link" do %>
      <i style="font-style: normal;">新規登録</i>
    <% end %>
  </li>
</ul>
