<!-- KPTでのポイント -->
<div class="row" style="margin: 250px 0 200px 0;">
  <div class="col s12 m12 center">
    <h5 style="color: white;">〜 KPTをする上でのポイント 〜</h5>
  </div>
  <!-- Keepのポイント -->
  <div class="col s12 m12 center" style="margin-top: 50px;">
    <h6 style="color: #f48fb1;">Keep</h6>
    <p style="color: white;">
      どんな些細なことでもいいので意見を出す<br>
      とにかくたくさんの量を出す
    </p>
  </div>
  <!-- Probremのポイント -->
  <div class="col s12 m12 center" style="margin-top: 50px;">
    <h6 style="color: #ffb74d;">Probrem</h6>
    <p style="color: white;">
      個人に対しての攻撃はしないこと<br>
      思いついた意見を少し深堀してみる
    </p>
  </div>
    <!-- Tryのポイント -->
  <div class="col s12 m12 center" style="margin-top: 50px;">
    <h6 style="color: #64b5f6;">Try</h6>
    <p style="color: white;">
      「頑張る」「意識する」だけでなく具体的な行動を決める<br>
      試すことを選択し、全員で合意すること<br>
      Tryで決めたこと全てをやろうとしないこと
    </p>
  </div>
</div>

<div class="col s12 m12 center" style="color: #4db6ac; margin-top: 50px;">
  <h6>KPTで何を改善するのか、目的意識をもって取り組みましょう！</h6>
</div>
