<div class="row mt-10">
  <div class="col s12 m12 center">
    <h4 class="white-text font-weight-bold">〜 KPTをする上でのポイント 〜</h4>
  </div>
  <!-- Keepのポイント -->
  <div class="col s12 m12 center mt-5">
    <h4 class="red-text">Keep</h4>
    <ul class="white-text line-height">
      <li><h6>どんな些細なことでもいいので意見を出す</h6></li>
      <li><h6>とにかくたくさんの量を出す</h6></li>
    </ul>
  </div>
  <!-- problemのポイント -->
  <div class="col s12 m12 center mt-5">
    <h4 class="orange-text">Problem</h4>
    <ul class="white-text line-height">
      <li><h6>個人に対しての攻撃はしないこと</h6></li>
      <li><h6>思いついた意見を少し深堀してみる</h6></li>
    </ul>
  </div>
    <!-- Tryのポイント -->
  <div class="col s12 m12 center mt-5">
    <h4 class="blue-text">Try</h4>
      <ul class="white-text line-height">
        <li><h6>「頑張る」「意識する」だけでなく具体的な行動を決める</h6></li>
        <li><h6>試すことを選択し、全員で合意すること</h6></li>
        <li><h6>Tryで決めたこと全てをやろうとしないこと</h6></li>
      </ul>
  </div>
</div>

<div class="col s12 m12 center mt-10">
  <h5 class="teal-text font-weight-bold">KPTで何を改善するのか、目的意識をもち取り組みましょう！</h5>
</div>
