<div class="row mt-10 bt-white">
  <div class="col s12 m12 d-flex justify-content-center">
    <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", size:'300x300' %>
    <span class="align-self-center pt-5 font-weight-bold">について</span>
  </div>
  <div class="col s12 m12 center white-text mb-10">
    <h6>このサイトはエンジニアスクールにて<span class="teal-text">KPT</span>の魅力に心を奪われたが</h6>
    <h6>同じ時間、同じ場所に集まることは難しいのではないかと考え</h6>
    <h6>どこでも、いつでも、誰とでも、KPTができ、</h6>
    <h6>エンジニアに限らず、多くの方々のふりかえりとして、
    <h6><span class="teal-text">KPT</span>を取り入れて欲しい！</h6>
    <h6>という想いで、ポートフォリオとして作成しました。</h6>
  </div>

  <div class="try-form col s12 m12 center mb-10">
    <h5 class="grey-text mt-4">KPTAAALKをお試しできます！</h5>
    <p class="mt-4 grey-text">
      こちらから<%= link_to "簡単ログイン", new_user_session_path %>してください。
    </p>
  </div>

</div>
