<!-- このサイトへの思い -->
<div class="row">
  <div class="col s12 m12 center flex" style="justify-content: center; border-top: solid 1px white; margin-top: 150px;">
    <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", size:'250x250' %>
    <span style="line-height: 290px;">について</span>
  </div>
  <div class="col s12 m12 center" style="color: white; margin-bottom: 150px;">
    <h6>このサイトはエンジニアスクールにて<span style="color: #4db6ac;">KPT</span>の魅力に心を奪われたが</h6>
    <h6>同じ時間、同じ場所に集まることは難しいのではないかと考え</h6>
    <h6>どこでも、いつでも、誰とでも、KPTができ、</h6>
    <h6>エンジニアに限らず、多くの方々のふりかえりとして、
    <h6><span style="color: #4db6ac;">KPT</span>を取り入れて欲しい！</h6>
    <h6>という想いで、ポートフォリオとして作成しました。</h6>

  </div>
  <div class="col s12 m12 center" style="color: #bdbdbd; margin-bottom: 150px; padding-top: 30px; background-color: white; border-radius: 60px; height: 350px;">
    <h6 style="color: grey;">KPTAAALKをお試しできるアカウント</h6>
    <h6 style="margin-top: 30px;">ニックネーム</h6>
    <p style="color: #b2dfdb;">KPT太郎</p>
    <h6 style="margin-top: 30px;">パスワード</h6>
    <p style="color: #b2dfdb;">kptaaalk</p>
    <p style="margin-top: 40px;">こちらでログインしてください。</p>
  </div>
</div>
