/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";
 @import "material_icons";

 main {
  padding-top: 20px;
 }

 // 可変margin padding 0~100
 @for $i from 0 through 10 {
   .m-#{$i} {margin: #{$i * 10}px;}
   .mt-#{$i} {margin-top: #{$i * 10}px;}
   .mr-#{$i} {margin-right: #{$i * 10}px;}
   .mb-#{$i} {margin-bottom: #{$i * 10}px;}
   .ml-#{$i} {margin-left: #{$i * 10}px;}
   .mx-#{$i} {margin: 0 #{$i * 10}px;}
   .my-#{$i} {margin: #{$i * 10}px 0;}

   .p-#{$i} {padding: #{$i * 10}px;}
   .pt-#{$i} {padding-top: #{$i * 10}px;}
   .pr-#{$i} {padding-right: #{$i * 10}px;}
   .pb-#{$i} {padding-bottom: #{$i * 10}px;}
   .pl-#{$i} {padding-left: #{$i * 10}px;}
   .px-#{$i} {padding: 0 #{$i * 10}px;}
   .py-#{$i} {padding: #{$i * 10i}px 0;}
 }

html {
  font-size: 18px;
  font-family: "Yu Gothic",YuGothic,sans-serif,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",sans-serif,"ＭＳ ゴシック";
}


.font-weight-bold {
  font-weight: bold;
}
.bb-orange {
  border-bottom: solid 1px #ff7f50;
}
.bt-white {
  border-top: solid 1px white;
}
.bb-white {
  border-bottom: solid 1px white;
}
.object-fit-cover {
  object-fit: cover;
}
.line-height {
  line-height: 1.85;
}

// flex-box
.d-flex {
  display: flex;
}
.f-warp {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.align-self-center {
  align-self: center;
}


/////////// ヘッダー ///////////
nav .nav-wrapper {
  height: 100px;
  background-color: #b2dfdb;
}
// ナビゲーション
.nav-link {
  font-size: 20px;
  height: 100px;
  line-height: 100px;
}
// ヘッダーKPTAAALKロゴ
.brand-logo {
  width: 180px;
  height: 100px;
  object-fit: cover;
}
// ログインユーザーimg
.dropdown-trigger {
  height: 100px;
}
.dropdown-trigger > img {
  border-radius: 40px;
  object-fit: cover;
}
/////////// フッター ///////////
// 固定
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 10 auto;
}
// 固定
.root-footer {
  font-size: 25px;
  color: #80cbc4;
  background-color: #b2dfdb;
}
.main-footer {
  font-size: 25px;
  color: #cfd8dc;
  background-color: white;
}
/////////// トップページ ///////////
// ログイン・新規登録ボタン
.devise_actions {
  font-size: 30px;
  color: white;
  border: 2px solid white;
}
// ボタン押すとボーダーを点線にする
.devise_actions:hover {
  border-style: dashed;
}
// トップページの簡単ログインのところ
.try-form {
  background-color: white;
  border-radius: 60px;
  height: 200px;
}
// ページトップボタン
#page_top {
  position: fixed;
  right: 25px;
  bottom: 20px;
  opacity: 0.5;
}
// トップページ スクロールアイコン
#scroll_icon {
  position: fixed;
  writing-mode: vertical-rl;
  transform: rotate( -180deg );
  top: 600px;
  left: 20px;
  opacity: 0.5;
}


// ページネーション
.pagination {
  margin-top: 20px;
  text-align: center;
}
// エラーメッセージ
#error_explanation {
  color: red;
}
// フラッシュメッセージ
.alert {
  color: #9e9e9e;
}
// ログインを記憶するチェックボックス
#user_remember_me{
  opacity: initial;
  position: inherit;
  pointer-events: auto;
}
