// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_index_group_image{
  object-fit: cover;
  margin-left: 250px;
}

.comments_left {
  width: 50%;
  margin-right: 16px;
  align-self: stretch;
}
.comments {
  border: 2px solid;
  padding: 16px;
  min-height: 200px;
  height: auto;
}

.comments_right {
  width: 50%;
  align-self: stretch;
  background-color: #b2ebf2;
}

.comments:nth-child(1) {
  background-color: #ffe0b2;
}

.p_comments {
  margin-top: 16px;
  background-color: #ffcdd2;
}
