// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// indexページ
.group_icon{

}
.group_icon > a > h6{
  color: black;
}
.group_image{
  object-fit: cover;
  margin-left: 250px;
}
.kpt_actions{
  text-align: center;
}
// フレックスボックス
#comment_box{
  display: flex;
}
.comments_left{
  width: 50%;
  margin-right: 16px;
  align-self: stretch;
}
.comments_right{
  width: 50%;
  align-self: stretch;
}
.comments{
  border: 2px solid;
  padding: 16px;
  height: auto;
}
.p_comments{
  margin-top: 16px;
}
.kpt_comments{
  border: 2px solid #e0e0e0;
  padding: 5px;
  margin-top: 10px;
}
