// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 10 auto;
}
.login_form {
  float: none;
  text-align: center;
  margin-top: 70px;
  margin-left: 500px;
}
.login_actions {
  margin: 15px 15px;
}
.signin_form {
  float: none;
  width: 50%;
  text-align: center;
  margin-left: 460px;
}
.field,em {
  color: grey;
}
// show.html.erb
.profile{
  width: 40%;
  text-align: center;
}
.actions{
  margin-top: 10px;
}
h6{
  border-bottom: 2px solid #e0e0e0;
  width: 18%;
  padding: 4px;
}
// result.html.erb
.search_form{
  display: flex;
  justify-content: center;
}
.form{
  text-align: center;
}
// edit.html.erb
.edit_profile{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30%;
}
#user_profile_image{
  margin: 20px 20px;
}
