// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 10 auto;
}
// ログインフォーム
#user_remember_me{
  opacity: initial;
  position: inherit;
  pointer-events: auto;
}
// 新規登録フォーム
.border {
  border-bottom: solid 1px #ff7f50;
}
// パスワード変更ページ
.flex {
  display: flex;
  flex-wrap: wrap;
}
// edit.html.erb
.edit_profile {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30%;
}
.card-title {
  font-size: 18px !important;
}
.group-name {
  width: 185px;
  height: 35px;
  white-space: nowrap;// 改行禁止
  overflow: hidden;// 表示領域外非表示
  text-overflow: ellipsis;// 末尾「...」
}
.friend-introduction {
  width: 233px;
  height: 115px;
  white-space: nowrap;// 改行禁止
  overflow: hidden;// 表示領域外非表示
  text-overflow: ellipsis;// 末尾「...」
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  margin-right: 5px !important;
}
