<!-- ログイン時、ドロップダウン子メニュー -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "マイページ", user_path(current_user) %></li>
  <li class="divider"></li>
  <li><%= link_to "お仲間検索", search_users_path %></li>
  <li class="divider"></li>
  <li><%= link_to "グループ作成", new_group_path %></li>
  <li class="divider"></li>
  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
</ul>
