<!-- ヘッダーテンプレート　-->

<!-- ドロップダウン子メニュー -->
<%= render 'layouts/dropdown' %>

<nav class="navbar amber lighten-2">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">KPTAAALK</a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <!-- ログインしている時 親メニュー -->
        <li>
          <% if @is_notification.present? %>
            <a href="#">
              <i class="material-icons">notifications</i>
            </a>
          <% else %>
            <a>
              なし
            </a>
          <% end %>
        </li>
        <li>
          <a class="dropdown-trigger" data-target="dropdown1">
            <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60'%>
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li><a></a></li> <!-- スペース -->
      <% else %>
        <!-- ログインしていない時 親メニュー -->
        <li>
          <a class="dropdown-trigger" data-target="dropdown2">Dropdown
          <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
