
<!-- ログイン中ヘッダー　-->
<div class="headline">
  <div class="brand">
    <a href="/">
      <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", class: "brand-logo" %>
    </a>
  </div>
  <div class="navbar">

      <%= render 'layouts/dropdown' %> <!-- ドロップダウン子メニュー -->
      <ul class="right hide-on-med-and-down">
        <li>
          <% if @is_notification.present? %> <!--グループに招待されているか -->
            <a href="#"> <!-- あり -->
              <i class="material-icons">notifications_active</i>
            </a>
          <% end %>
          <a class="dropdown-trigger" data-target="dropdown1">
            <%= attachment_image_tag current_user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", size:'80x80'%>
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
  </div>
</div>
